/* stylelint-disable selector-list-comma-newline-after */

  

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  /*
   * Blog name and description
   */
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  


  /* Header */

  element.style {
    background-color: #71c9d6;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .navbar-expand-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}
.navbar {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: .5rem 1rem;
}
* {
    margin: 0;
    box-sizing: border-box;
}
.btn-outline-1:hover{
    background-color: #6ac3f4;
    color: white;
}
.btn-outline-1{
    border: 2px solid #4181ef;
}

.btn-outline-2:hover{
    background-color: #0b63fc;
        color: white;
}
.btn-outline-2{
    border: 2px solid #0b63fc
}

.btn-outline-3:hover{
    background-color: #ca3d80;
        color: white;
}
.btn-outline-3{
    border: 2px solid #ca3d80
}

.btn-outline-4:hover{
    background-color: #ea6a85;
        color: white;
}
.btn-outline-4{
    border: 2px solid #ea6a85
}

.btn-outline-5:hover{
    background-color: #34dc53;
        color: white;
}
.btn-outline-5{
    border: 2px solid #34dc53
}

.btn-outline-6:hover{
    background-color: #0b63c3;
        color: white;
}
.btn-outline-6{
    border: 2px solid #0b63c3
}

.float-right{
  float: right;
}
.container{
  padding-bottom: 3rem;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
