/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

.article-list-extra-large-content .articles.articles-large-content .article {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
article {
    display: block;
    unicode-bidi: isolate;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



/* Customizar header
-------------------------------------------------- */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fcfcfc;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #2898b6;
    border-color: #2898b6;
}


.btn-outline-success {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #2898b6;
}
.navbar-nav {
  gap: 2em;
  padding-left: 2em;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.articles .article {
  width: calc(50% - 10px);
}



.artigo{
  gap: 15px;
  align-items: center;
  margin-bottom: 25px;
}

.artigo img{
  width: 160px;
  height: auto;
  border-radius: 8px;
}

.artigo .texto{
  flex: 1;
}

.btn-outline-1:hover{
    background-color: #6ac3f4;
    color: white;
}
.btn-outline-1{
    border: 2px solid #4181ef;
}

.btn-outline-2:hover{
    background-color: #0b63fc;
        color: white;
}
.btn-outline-2{
    border: 2px solid #0b63fc
}

.btn-outline-3:hover{
    background-color: #ca3d80;
        color: white;
}
.btn-outline-3{
    border: 2px solid #ca3d80
}

.btn-outline-4:hover{
    background-color: #ea6a85;
        color: white;
}
.btn-outline-4{
    border: 2px solid #ea6a85
}

.btn-outline-5:hover{
    background-color: #34dc53;
        color: white;
}
.btn-outline-5{
    border: 2px solid #34dc53
}

.btn-outline-6:hover{
    background-color: #0b63c3;
        color: white;
}
.btn-outline-6{
    border: 2px solid #0b63c3
}
.float-right{
  float: right;
}
.container{
  padding-bottom: 3rem;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.redes a{
  margin: 8px;
}

.modal-backdrop.show {
  opacity: 0.3;
  backdrop-filter: blur(5px);
}
